[Unit]
Description=Peoplesmarkets websites-frontend service
After=network.target

[Service]
User=root
EnvironmentFile=/opt/services/websites-frontend/.env
ExecStart=/home/admin/.nvm/versions/node/v22.2.0/bin/node /opt/services/websites-frontend/dist/server/index.mjs
ExecReload=/home/admin/.nvm/versions/node/v22.2.0/bin/node /opt/services/websites-frontend/dist/server/index.mjs
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target
