$small-min-width: 361px;
$medium-min-width: 640px;
$expanded-min-width: 900px;

.TitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Title {
  display: block;
  font: var(--font-title);
}

.Refresh {
  width: 2.4rem;
  padding: 0.4rem;
  border-radius: 50%;
  box-sizing: border-box;
}

.Refresh:hover {
  background: var(--hovered-background);
  cursor: pointer;
}

.Cards {
  display: grid;
  gap: 0.5rem;

  grid-template-columns: repeat(1, minmax(0, 1fr));

  @media only screen and (min-width: $small-min-width) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media only screen and (min-width: $medium-min-width) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  @media only screen and (min-width: $expanded-min-width) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.Actions {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
