$header-height: 56px;

.Header {
  width: 100%;
  height: $header-height;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: box-shadow 0.3s ease-out 0ms;
  z-index: 99;
  background-color: #fff;
}

.HeaderShadow {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.HeaderLeft {
  margin-left: 4px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.MenuIconContainer {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 8px;
}

.MenuIcon {
  fill: var(--md-sys-color-on-surface-variant);
  color: var(--md-sys-color-on-surface-variant);
}

.MainLink {
  text-decoration: none;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1;
  color: black;
  margin-left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Logo {
  max-width: 100%;
  max-height: 24px;
  object-fit: contain;
}

.HeaderRight {
  margin-right: 4px;
  display: flex;
  justify-content: end;
  align-items: center;
}
