.Footer {
  width: 100%;
  height: 32px;
  display: flex;
  align-items: center;

  background-color: var(--md-sys-color-tertiary-container);
}

.PoweredBy {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  font: var(--font-body);
  color: var(--md-sys-color-on-tertiary-container);
}

.MainLink {
  margin: 0 8px;
  color: var(--md-sys-color-on-tertiary-container);
  font: var(--font-label);
}

.MainLink:hover {
  cursor: pointer;
}

.MainLogo {
  height: 20px;
  user-select: none;
}

.MainLogo path {
  fill: var(--md-sys-color-on-tertiary-container);
}
