$slider-width: 290px;

.NavigationSlider {
  position: fixed;
  z-index: 20;
  top: 0;
  bottom: 0;
  left: 0;
  width: $slider-width;
  max-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;

  transform: translateX(-100%);
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--md-sys-color-background);

  box-shadow: 0 1px 2px 0 rgb(60, 64, 67, 0.3),
    0 2px 6px 2px rgb(60, 64, 67, 0.15);

  overflow: scroll;
}

.SlideIn {
  transform: translateX(0%);
}

.Menu {
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 4px;
  box-sizing: border-box;
}

.Border {
  width: 100%;
  border-bottom: 1px solid var(--md-sys-color-on-background);
  opacity: 0.2;
}

.Links {
  width: 100%;
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 8px;
  flex: 1;
}

.Settings {
  @extend .Links;
  flex: 0;
}
